@page
@model MyWiki.Web.Pages.Articles.ListOfArticlesModel
@{
}

<div class="bg-secondary bg-opacity-10 py-3">
    <div class="container">
        <h1>All Articles</h1>
    </div>
</div>

@if (Model.Articles != null && Model.Articles.Any()) 
{
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model.Articles)
                {
                    <tr>
                        <td>
                            @article.Id
                        </td>
                        <td>
                            @article.Title
                        </td>
                        <td>
                            <a href="/Articles/UpdateArticle/@article.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container">
        <p>Articles Not Found!</p>
    </div>
}

