@page
@model MyWiki.Web.Pages.LoginModel
@{
}

<div class="container mt-5 mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">

            <h1 class="mb-3 h3">Login</h1>

            <partial name="_Notification" />

            <form class="was-validated
                    needs-validation border border-radius-3 shadow pt-5 mt-5"
                  novalidate=""
                  method="post">

                <div class="mb-3 mx-5">
                    <label class="form-label">Username:</label>
                    <input type="text"
                           class="form-control"
                           required
                           asp-for="LoginViewModel.Username" />
                </div>

                <div class="mb-3 mx-5">
                    <label class="form-label">Password:</label>
                    <input type="password"
                           class="form-control"
                           required
                           asp-for="LoginViewModel.Password" />
                </div>

                <div class="mb-5 text-center">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>

        </div>
    </div>
</div>
</div>